@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:300,400,500,700,700i,900,900i&subset=latin-ext');

/* Global styles */
* {
	box-sizing: border-box;
	margin: 0;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
}
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33% }
.col-11 { width: 91.66% }
.col-12 { width: 100%; }

.col-offset-1 { margin-left: 8.33%; }
.col-offset-2 { margin-left: 16.66%; }
.col-offset-3 { margin-left: 25%; }
.col-offset-4 { margin-left: 33.33%; }
.col-offset-5 { margin-left: 41.66%; }
.col-offset-6 { margin-left: 50%; }
.col-offset-7 { margin-left: 58.33%; }
.col-offset-8 { margin-left: 66.66%; }
.col-offset-9 { margin-left: 75%; }
.col-offset-10 { margin-left: 81.33%; }
.col-offset-11 { margin-left: 91.66%; }

.img-col-1 { width: 25%; }
.img-col-2 { width: 50%; }
.img-col-3 { width: 75%; }
.img-col-4 { width: 100%; }
/*.img-col-5 { width: 100%; }*/

.img-col-offset-1 { margin-left: 20%; }
.img-col-offset-2 { margin-left: 40%; }
.img-col-offset-3 { margin-left: 60%; }
.img-col-offset-4 { margin-left: 80%; }

body {
	font-family: "Open Sans", sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

header, section, footer {
	padding-bottom: 60px;
}

/* Header */
header > .container, .start {
	padding-top: 85px;
}

header {
	background-image: url("http://arekrybka.com/bootcamp/project-01/masthead_bg.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color: #fff;
}

.logo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 85px;
	height: 40px;
	width: 40px;
}

.logo::before, .logo::after {
	position: absolute;
	content: "";
	border-radius: 50%;
	transform-origin: center;
	border: 4px solid #fff;
}

.logo::before {
	height: 15px;
	width: 15px;
}

.logo::after {
	height: 40px;
	width: 40px;
}

.logo p {
	padding-left: 130px;
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
}

.intro {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	top: 45%;
}

.intro h1 {
	font-size: 4em;
	font-weight: 300;
}

.intro p {
	padding-top: 1em;
	width: 500px;
	line-height: 1.5em;
}

/* Start something new */
.start {
	color: #959595;
}

.start > .container > .row {
	position: relative;
}

.start h1 {
	font-size: 2.5em;
	font-weight: 300;
	color: #222626;
}

.start .col-12 {
	column-count: 2;
}

.start .col-6 p, .start .col-12 p {
	padding: 1em 0;
	line-height: 1.6em;
}

.big-phone img {
	position: absolute;
	bottom: 0;
	height: 100vh;
}

/* Tiles */
.tiles, .tiles a {
	color: #fff;
}

[class^="image-"] {
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	height: 300px;
}


.tiles h1 {
	font-weight: 300;
	font-size: 2em;
}

.tiles p, .tiles a {
	line-height: 1.9em;
	font-size: 0.8em;
	text-decoration: none;
}

.tiles a {
	font-weight: bold;
}

.heart {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.tiles a > span {
	padding-left: 1em;
}

.image-1-1 {
	background: #f5989d;
}

.image-1-2 {
	background-color: #615f7d;
}

.image-1-3 {
	background-image: url("https://images.pexels.com/photos/30359/pexels-photo-30359.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
	background-position: center;
	background-size: cover;
}

.image-1-4 {
	background: #bd8cbf;
}

.image-2-1 {
	background-image: url("https://images.pexels.com/photos/90762/sunset-day-summer-sky-90762.jpeg?h=350&auto=compress&cs=tinysrgb");
	background-position: center;
	background-size: cover;
}

.image-2-2 {
	background: #82ca9c;
}

.image-2-3 {
	background-image: url("https://images.pexels.com/photos/293029/pexels-photo-293029.jpeg?h=350&auto=compress&cs=tinysrgb");
}

/* Details */
.details .col-3 {
	padding-right: 2.5em;
}
.details h1 {
	font-size: 2.5em;
	font-weight: 300;
	color: #222626;
	padding: 40px 0;
}

.details h5 {
	padding-bottom: 2em;
}

.details p {
	color: #959595;
}

/* More power */
.more-power {
	margin: 0;
	height: 100vh;
	background-image: url("http://arekrybka.com/bootcamp/old-car.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.more-power h1, .more-power h2 {
	font-size: 4em;
	font-weight: 300;
}

.more-power p {
	width: 40%;
	padding: 4vh 0;
	line-height: 1.5em;
}

.more-power a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.more-power a > span {
	padding-left: 1em;
}

/* Reasons */
.reasons {
	margin-top: 0;
	background: #82ca9c;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

.reasons h1 {
	font-size: 2.5em;
	font-weight: 300;
	padding-bottom: 40px;
}

.reasons h5 {
	padding-bottom: 2em;
}

.reasons p {
	line-height: 1.5em;
	padding-right: 20px;
}

/* Two tiles */
section.two-tiles {
	background: #f6f7fa;
	padding-top: 80px;
}

[class^="button-"] {
	text-transform: uppercase;
	border: none;
	border-radius: 8px;
	color: #fff;
}

.button-top {
	background-color: #e1e1e1;
	padding: 10px 20px;
}

.two-tiles h1 {
	color: #222626;
	font-size: 2em;
	padding: 20px 0;
	font-weight: 300;
}

.two-tiles p {
	color: #959595;
	line-height: 2em;
	padding-right: 100px;
}

.button-bottom {
	padding: 15px 20px;
	font-size: 1.2em;
	background: #82ca9c;
	transition: 1s;
	cursor: pointer;
}

.icons-os {
	color: #959595;
	font-size: 2em;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	width: 100px;
}

.two-tiles .col-6 {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 500px;
}

.two-tiles .col-6:hover {
	box-shadow: 5px 5px 50px 8px #ccc;
}

.two-tiles .col-6:hover .button-top {
	background-color: #bd8cbf;
}

.two-tiles .col-6:hover .button-bottom:hover {
	background: #639976;
	transform: scale(1.1);
}

/* Footer */
footer {
	background: #192431;
	padding: 100px 0;
	color: #fff;
	font-size: small;

}

footer .col-6 {
	width: 45%;
}

footer .row:first-child {
	display: flex;
	justify-content: space-between;
}

footer h4 {
	font-weight: normal;
	padding: 25px 0;
}

footer p {
	line-height: 1.8em;
}

.list {
	list-style-type: none;
	padding: 0;
	line-height: 2em;
}

.list a {
	text-decoration: none;
	color: #fff;
}

.email, .submit {
	border: none;
	height: 50px;
	font-size: 20px;
}

.email {
	width: 400px;
	float: left;
	padding: 10px;
}

.email:focus {
	border: 5px solid #82ca9c;
	outline: none;
}

.submit {
	width: 50px;
	background: #82ca9c;
	color: #fff;
	cursor: pointer;
}

.submit:hover {
	background: #639976;
}

.spam {
	padding-top: 15px;
	color: #959595;
}